.root{
	-fx-background-color:#3498db;
}
#startupgrid{
	-fx-border-width:0;
	-fx-border-color:#ecf0f1;
	-fx-padding:0 0 0 80;
}


#detailb{
    -fx-border-radius: 0;
    -fx-border-width: 2;
	-fx-border-insets: 0; 
	-fx-border-color:transparent;
	-fx-background-radius: 0;
    -fx-background-insets: 0;
	-fx-background-color: #00aba9;
	-fx-background-size: 50, 55;
	-fx-background-repeat: no-repeat;
	-fx-background-position:center;
    -fx-font-family: "Segoe UI bold ";
    -fx-font-size: 12pt;
    -fx-text-fill: white;
  	-fx-Pref-Width:250;
  	-fx-Pref-Height:125;
}
#detailb:focused{
	-fx-border-color:white;
}

#entryb{
	 -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 2;
	-fx-border-color:transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Segoe UI bold ";
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-background-color: #8c0095;
    -fx-Pref-Width:250;
  	-fx-Pref-Height:125;
    -fx-background-size: 80, 80;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
#entryb:focused{
	-fx-border-color:white;
}
#detailb:hover
{
     -fx-background-size: 55, 60;
    
}
#entryb:hover
{
    -fx-background-size: 85, 85;
}
#settings-box{
	-fx-border-width:0;
	-fx-border-color:red;
	-fx-background-color:transparent;
	-fx-padding:50 100 100 20;
}
#settings{
    -fx-font-family: "Segoe UI Light ";
   	-fx-font-size: 12pt;
   	-fx-text-fill: #ecf0f1;
   	-fx-background-color: transparent;
   	-fx-Pref-Width:70;
 	-fx-Pref-Height:40;
	-fx-padding:0;
	-fx-border-width:1;
	-fx-border-color:#ecf0f1;	
}
#settings:hover{
   	-fx-background-color: #2980b9;
	-fx-background-radius:0;
}
